.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5rem;
  height: 90px;
  padding: 0px 20px;
  background-color: white;
  border-bottom: 4px solid #FDE100;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.logo {
  height: 80px;
  width: auto;
}

.navbar-tabs {
  display: flex;
  gap: 3rem;
  align-items: flex-end;
}

.tab {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #393939;
  padding: 8px 16px;
  border-radius: 2px 2px 0 0;
}

.tab.active {
  background-color: #FDE100;
  color: black;
}

a:hover {
  color: #FDE100;
}