@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'Century Gothic', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  font-family: 'Century Gothic', sans-serif;;
  background-color: white;
}

#root {
  height: 100%;
}

input {
  background-color: white;
  color: black;
  border: 1px solid #393939;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Century Gothic', sans-serif;
  box-shadow: none;
  appearance: none;       /* для Firefox */
  -webkit-appearance: none; /* для Chrome */
}

textarea {
  background-color: white;
  color: black;
  border: 1px solid #393939;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Century Gothic', sans-serif;
}

select, option {
  background-color: white;
  color: black;
  border: 1px solid #393939;
  font-size: 1rem;
  font-family: 'Century Gothic', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #393939;
    background-color: white;
  }
  a:hover {
    color: #FDE100;
  }
  button {
    background-color: white;
  }
}